<h1> Enrollment's Index </h1>

<table>
	<tbody>
		<thead> Student and Classes Enrolled
			<th> Student </th>
			<th> Classes </th>
			<% @cclass.enrollment.each do |e| %>
				<td><%= link_to e.student.FirstName %> </td>
			<% end %>
		</thead>
	</tbody>
</table>